/* import google font  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*if i give a container width 500px and after that if i will add padding and margin the total width will 500px*/
  overflow: hidden;
  text-decoration: none;
  outline: 0;
  border: 0;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  /* background: rgb(36, 199, 36); */
}
.header .nav-bar {
  display: flex;
}
.header .nav-bar a {
  flex: 1;
  font-size: 22px;
  text-align: center;
  line-height: 65px;
  color: aliceblue;
  text-transform: capitalize;
}
.header .nav-bar a:hover {
  filter: brightness(0.8);
}
.header .nav-bar a:nth-child(1) {
  background: red;
}
.header .nav-bar a:nth-child(2) {
  background: rgb(230, 115, 21);
}
.header .nav-bar a:nth-child(3) {
  background: rgb(25, 190, 127);
}
.header .nav-bar a:nth-child(4) {
  background: rgb(0, 217, 255);
}
.header .nav-bar a:nth-child(5) {
  background: rgb(19, 165, 68);
}
.container {
  display: flex;
  width: 500%;
  height: 800px;
}
.container .main {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 8vw;
  word-spacing: 0.5rem;
  color: aliceblue;
  font-weight: 600;
}
.container .main:nth-child(1) {
  background: red;
}
.container .main:nth-child(2) {
  background: rgb(230, 115, 21);
}
.container .main:nth-child(3) {
  background: rgb(25, 190, 127);
}
.container .main:nth-child(4) {
  background: rgb(0, 217, 255);
}
.container .main:nth-child(5) {
  background: rgb(19, 165, 68);
}
@media (max-width: 750px) {
  .header .nav-bar a span {
    display: none;
  }
}
